{% extends "dashboard/base.html" %}

{% load staticfiles %}

{% block link_css %}
<link rel="stylesheet" href="{% static 'css/dashboard/base.css' %}">
<link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700" rel="stylesheet">
<style media="screen">
  .table td {
    text-align: center;
  },
  .table th {
    text-align: center;
  }
  .table tr {
    text-align: center;
  }
</style>
{% endblock link_css %}

{% block content %}
{% include 'header.html' %}
<div class="darkscreen">
</div>
<!-- Modal -->
<div class="modal fade" id="modalHoras" tabindex="-1" role="dialog" aria-labelledby="modalHorasLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalHorasLabel">Horas</h5>
      </div>
      <div class="modal-body" style="display:flex;align-items: center;">
        <h5>El numero total de horas prestadas por el monitor es:</h5>
        <h3 style="color:red;padding-left: 10px">{{ horas_totales }}</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<div class="container col-12" style="heigth:100%;padding: 0 !important;">
  <div class="row" style="width: 100%;margin-top: 10px;margin-bottom:2px;">
    <div class="col-12">
      <div class="form-group">
        <label for="monitor_select" style="font-weight:bold">Seleccionar un monitor</label>
        <select class="form-control" id="monitor_select" onchange="searchSolicitudesForMonitor()">
          <option value="-1" selected disabled>Seleccione una monitor</option>
          {% for monitor in monitors %}
          <option  value="{{ monitor.pk }}">{{ monitor.user.first_name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
  <div class="row" style="height: 50px; width: 100%;">
    <table class="table">
      <thead>
        <tr>
            <th scope="col">Asignatura</th>
            <th scope="col">Hora</th>
            <th scope="col">Fecha</th>
            <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody>
        {% for solicitud in solicitudes %}
        <tr>
            <td>{{ solicitud.subject }}</td>
            <td>{{ solicitud.time_slot.start_time }} - {{ solicitud.time_slot.end_time }}</td>
            <td>{{ solicitud.requested_time }}</td>
            <td style="color: #66BB6A; font-weight: bold;">Aceptada</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<form method="post" hidden>{% csrf_token %}
  <input type="text" name="id_monitor">
  <input type="submit" name="request_info">
</form>

{% endblock content %}

{% block scripts %}
<script type="text/javascript">
  function searchSolicitudesForMonitor() {
    var id_monitor = $("#monitor_select").val();
    if (id_monitor) {
      $("input[name=id_monitor]").val(id_monitor);
      $("input[name=request_info]").trigger('click');
    }
  }

  $(document).ready(() => {
    {% if modal_horas %}
    $('#modalHoras').modal('show')
    {% endif %}
    {% if show_alert %}
    bootbox.alert("{{ message }}");
    {% endif %}
  });
</script>
{% endblock %}
